/*
body{
  margin: 200px; 
  
  "opcional para que quede mas ensanchado el contenido"
}
*/



/*Box contenedor --> tipo Mighty Ducks Hockey League*/
header > h1 {
  background-color: rgba(255, 255, 255, 50%);
  color: gold;
  position: static;
  font-size: 4rem;
  -webkit-text-stroke: 2px rgb(218, 80, 0);
  z-index: 5;
  display: inline-block;
  margin: 40px;
  text-align: center;
  display: block;

  font-family: 'Anton', sans-serif;

  animation-name: botonsito;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes botonsito {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

/*Upcoming Events*/
div > h2 {
  position: static;
  left: 0%;
  top: 650px;
  right: 0%;
  text-align: center;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;

  animation-duration: 3s;
  animation-name: slidein;

  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

nav {
  display: block;
  position: static;
  top: 115px;
  z-index: 20;
  padding-top: 10px;
  text-align: center;
  justify-content: center;

}

/**contenido en nav*/
#anchor {
  font-family: 'Anton', sans-serif;
  background-color: rgb(0, 0, 0);
  display: block;
  font-size: 1.5rem;
  padding: 5px 20px;
  margin: 20px;
  border: solid;
  border-color: black;
  border-width: 1.5px;
  color: rgb(31, 164, 241);
  text-decoration: none;

  text-decoration: none;
  padding:10px;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  
  margin-left: 0;
  margin-right: 0;
}

#anchor:after{
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all .5s;
  will-change: width;
}

#anchor:hover:after{
  background-color: rgb(238, 216, 20);
  display: inline-block;
  border: solid;
  border-color: black;
  border-width: 1.5px;
  color: whitesmoke;
  text-decoration: none;
  margin: 0px;
  transform: scaleX(1);
  
  width: 100%;
  right: 0; 
}

#anchor:hover{
  color: gold;
  -webkit-text-stroke: 0.2px rgb(218, 80, 0);
}


main {
  position: static;
  font-size: 1.5rem;
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
}

#main_contact {
  position: static;
  margin: auto;
  top: 890px;
  left: 0;
  right: 0;
  padding-top: 60px;
  font-size: 1.5rem;
  padding-bottom: 80px;
}


#banner {
  position: relative;
  margin: auto;
  z-index: 1;
  width: 1920px;
  height: 500px; /* 800 */
}

#hockey_1 {
    width:280px;
    height:280px;
    border-radius: 50%;

    position: sticky;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#box-logo {
    display: inline;
}
#logo {
 
  z-index: 15;
  width: 180px;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1;
  margin: auto;

  animation-name: loguito;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loguito {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

main > b {
  font-family: 'Anton', sans-serif;
  
}

main > p {
  text-indent: 30px;
  font-family: 'arial', sans-serif;

}

footer{
  padding: 30px;
}
